<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788015832380-vsa2ulit54r31drbn8ia40qu8fme7kd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788015832380-vsa2ulit54r31drbn8ia40qu8fme7kd7</string>
	<key>API_KEY</key>
	<string>AIzaSyCEh_yIJO3EMW--o68l_dw5XinayWrX6Ks</string>
	<key>GCM_SENDER_ID</key>
	<string>788015832380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dl.iSpace</string>
	<key>PROJECT_ID</key>
	<string>ispace-2efd4</string>
	<key>STORAGE_BUCKET</key>
	<string>ispace-2efd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788015832380:ios:53e06c65a7ea96beec5239</string>
</dict>
</plist>